@font-face { font-family: theanoDidot;        src: url('../fonts/TheanoDidot-Regular.ttf'); }
@font-face { font-family: monsieurLaDoulaise; src: url('../fonts/MonsieurLaDoulaise-Regular.ttf'); }
@font-face { font-family: knockout;           src: url('../fonts/knockout-htf-48-featherweight-1361516727.ttf'); }

body { background-color: black; }

a,
a:hover,
a:visited,
a:active { color: rgb(0, 0, 238); }

a,
a:visited,
a:active { text-decoration: none; }
a:hover { text-decoration: underline; }





#fullpage
{
    background: url('../images/fox-stage.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    font-family: knockout, "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 0.125em;
}

#menu
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    font-family: knockout, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

#menu ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li
{
    display: inline-block;
    padding: 9px 18px;
    margin: 14px 10px 10px;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 10px;
}
#menu li.active
{
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
#menu li:hover,
#menu li.active:hover { background: rgba(255, 255, 255, 0.8); }
#menu li.active:hover { color: black; }

.slide
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

/* fullPage navigation */
.fp-controlArrow.fp-prev { border-right-color: rgba(255, 255, 255, 0.5); }
.fp-controlArrow.fp-next { border-left-color:  rgba(255, 255, 255, 0.5); }
.fp-slidesNav.bottom { display: none; }

#headimg
{
    width: 100%;
    height: 100%;
    background: url('../images/fox-sign.jpg') no-repeat center 80% fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

.maincontain
{
    margin: 56px auto 0;
    /*border: 1px solid white;*/
    padding: 15px 18px 35px;
    width: 1140px;
}
.incontain
{
    /*border: 1px solid white;*/
    padding: 3px 0;
    background-color: rgba(255, 255, 255, 0.67);
    position: relative;
}
#tour main
{
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    text-align: left;
    font-size: 24px;
    color: black;
}
#tour h1
{
    margin: 0 36px 31px;
    border-bottom: 1px solid black;
    padding: 43px 0 12px;
    font-size: 67px;
    text-transform: uppercase;
}
#tour .row
{
    padding: 11px 36px;
    overflow: auto;
    clear: both;
    text-transform: uppercase;
}
#tour .row:nth-child(2n)
{
    background-color: rgba(255, 255, 255, 0.2);
}
#tour .col { float: left; }

#tour .date { width: 16%; }
#tour .indate { display: inline-block; text-align: center; }
#tour .month,
#tour .year { font-size: 20px; }
#tour .day  { font-size: 40px; }

#tour .location { width: 65%; }
#tour .city  { width: 50%; float: left; }
#tour .place { width: 50%; float: left; }
#tour .story
{
    display: none;
    clear: both;
    border-top: 1px solid black;
    padding-top: 9px;
}
#tour .instory
{
    text-transform: none;
    max-width: 600px;
    padding-left: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
}

#tour .tickets
{
    float: right;
    color: #da4a18;
}
#tour .tickets:hover
{
    color: #953310;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}




#img
{
    margin: 0 auto;
    text-align: center;
    width: 500px; height: 500px;
    background-image: url('images/sutro.jpg');
    font-family: "Times New Roman", serif; font-weight: 100;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px #777777;
}

.nice_block_font { font-family: theanoDidot, "Times New Roman", serif; font-weight: 100; font-size: 0.95em; }

.post_letter_spacing { letter-spacing: 35px; }
.bigtext { font-size: 70px; line-height: 90px; }
.uppercase { text-transform: uppercase; }
.cursive { font-family: monsieurLaDoulaise, theanoDidot, "Times New Roman", serif; }
.cursive .post_letter_spacing { letter-spacing: 15px; }

.littleline { line-height: 1em; }
.normaltext { letter-spacing: 2px; line-height: 2.5em; }

@media (max-width: 767px)
{
    /* std */
    #img { width: 600px; height: 600px; background-image: url('images/sutro.600.jpg'); }
    .bigtext {  font-size: 95px; line-height: 106px; }
    .littleline { line-height: 2em; }
    .normaltext { letter-spacing: 4px; line-height: 3em; }
    
    /* menu */
    #menu { display: none; }
    
    /* fullPage navigation */
    .fp-controlArrow { display: none; }
    .fp-slidesNav.bottom
    {
        display: block;
        width: 100%;
        left: auto;
        bottom: 9px;
        text-align: center;
    }
    .fp-slidesNav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0 7px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .fp-slidesNav a { display: inline-block; }
    .fp-slidesNav li
    {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 9px;
    }
    .fp-slidesNav span
    {
        display: block;
        margin: 0;
        position: static;
        border-color: rgba(0, 0, 0, 0.8);
    }
    .fp-slidesNav .active span { background-color: rgba(0, 0, 0, 0.8); }
    
    /* main */
    .maincontain
    {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 48px;
        width: 100%;
    }
    
    /* tour */
    #tour h1 { margin: 0 15px 15px; padding: 15px 0 0; }
    #tour .row { padding-left: 15px; padding-right: 15px; }
    #tour .col.location { width: 50%; }
    #tour .city  { width: 100%; float: none; }
    #tour .place { width: 100%; float: none; }
    #tour .story { max-width: 420px; width: 158%; }
    #tour .instory
    {
        padding-left: 0;
        font-size: 16px;
    }
    
    #venue img { width: 200px; }
    #merch img { width: 200px; }
}

@media (min-width: 768px) and (max-width: 844px)
{
    /* std */
    #img { width: 1000px; height: 1000px; background-image: url('images/sutro.1000.jpg'); }
    .bigtext { font-size: 190px; line-height: 174px; }
    .cursive .post_letter_spacing { letter-spacing: 20px; }
    .littleline { line-height: 4em; }
    .normaltext { font-size: 25px; letter-spacing: 7px; line-height: 3em; }
    
    /* fullPage navigation */
    .fp-controlArrow { display: none; }
    .fp-slidesNav.bottom
    {
        display: block;
        width: 100%;
        left: auto;
        bottom: 9px;
        text-align: center;
    }
    .fp-slidesNav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0 7px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .fp-slidesNav a { display: inline-block; }
    .fp-slidesNav li
    {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 9px;
    }
    .fp-slidesNav span
    {
        display: block;
        margin: 0;
        position: static;
        border-color: rgba(0, 0, 0, 0.8);
    }
    .fp-slidesNav .active span { background-color: rgba(0, 0, 0, 0.8); }
    
    /* main */
    .maincontain { width: 720px; padding-bottom: 48px; }
    
    /* tour */
    #tour .instory
    {
        padding-left: 0;
        font-size: 16px;
    }
}

@media (min-width: 845px) and (max-width: 991px)
{
    /* std */
    #img { width: 1000px; height: 1000px; background-image: url('images/sutro.1000.jpg'); }
    .bigtext { font-size: 190px; line-height: 174px; }
    .cursive .post_letter_spacing { letter-spacing: 20px; }
    .littleline { line-height: 4em; }
    .normaltext { font-size: 25px; letter-spacing: 7px; line-height: 3em; }
    
    /* main */
    .maincontain { width: 720px; }
    
    /* tour */
    #tour .col.date { width: 16%; }
    #tour .col.city { width: 33%; }
    #tour .instory
    {
        padding-left: 0;
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1079px)
{
    /* std */
    #img { width: 1000px; height: 1000px; background-image: url('images/sutro.1000.jpg'); }
    .bigtext { font-size: 190px; line-height: 174px; }
    .cursive .post_letter_spacing { letter-spacing: 20px; }
    .littleline { line-height: 4em; }
    .normaltext { font-size: 25px; letter-spacing: 7px; line-height: 3em; }
    
    /* main */
    .maincontain { width: 840px; }
    
    /* tour */
    #tour .instory { padding-left: 0; }
}

@media (min-width: 1080px) and (max-width: 1259px)
{
    /* std */
    #img { width: 1000px; height: 1000px; background-image: url('images/sutro.1000.jpg'); }
    .bigtext { font-size: 190px; line-height: 174px; }
    .cursive .post_letter_spacing { letter-spacing: 20px; }
    .littleline { line-height: 4em; }
    .normaltext { font-size: 25px; letter-spacing: 7px; line-height: 3em; }
    
    /* main */
    .maincontain { width: 940px; }
    
    /* tour */
    #tour .instory { padding-left: 0; }
}

@media (max-device-width: 767px) and (orientation: landscape)
{
    /* fullPage navigation */
    .fp-slidesNav.bottom { display: none; }
    
    /* main */
    .maincontain { padding-bottom: 30px; }
}
