@font-face { font-family: theanoDidot;        src: url('../fonts/TheanoDidot-Regular.ttf'); }
@font-face { font-family: monsieurLaDoulaise; src: url('../fonts/MonsieurLaDoulaise-Regular.ttf'); }





/*\
| | All
\*/

body { background-color: black; line-height: 1; font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif; }
h1
{
    margin: 0;
    font-size: 67px;
    line-height: 0.75;
    font-weight: normal;
    text-transform: uppercase;
}

/* //// temp or perm? */
h1 { margin: 0 36px 31px; padding: 39px 0 12px; }

a,
a:visited,
a:hover,
a:active { color: #da4a18; }

a,
a:active,
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }





/*\
| | Desktop - Wide content
\*/

/* menu */
#menu
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
#menu ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}
#menu li
{
    display: inline-block;
    padding: 9px 18px;
    margin: 14px 10px 10px;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
}
#menu li:hover { background: rgba(255, 255, 255, 0.8); }
#menu li.active       { background: rgba(0, 0, 0, 0.5); color: white; }
#menu li.active:hover { background: rgba(255, 255, 255, 0.5); }

/* fullPage navigation */
.fp-controlArrow.fp-prev { border-right-color: rgba(255, 255, 255, 0.5); }
.fp-controlArrow.fp-next { border-left-color:  rgba(255, 255, 255, 0.5); }
.fp-controlArrow { transition: border-color 0.2s ease-in-out; }
.fp-controlArrow.fp-prev:hover { border-right-color: rgba(255, 255, 255, 0.8); }
.fp-controlArrow.fp-next:hover { border-left-color:  rgba(255, 255, 255, 0.8); }
.fp-slidesNav.bottom { display: none; }

/* slides */
#fullpage
{
    background: url('../images/fox-stage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 0.125em;
}
.slide
{
    text-align: center;
    font-size: 40px;
    color: white;
}
.inslide
{
    margin: 56px auto 0;
    padding: 15px 18px 35px;
    width: 1140px;
}
.maincontain { padding: 3px 0; }
.maincontain main
{
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.maincontain main > *
{
    display: block;
    overflow: hidden;
    clear: both;
}

/* headliners */
#headliners
{
    width:  100%;
    height: 100%;
    background: url('../images/fox-sign.jpg') no-repeat center 80% fixed;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
}

/* tour */
#tour main
{
    text-align: left;
    font-size: 24px;
    color: black;
}
#tour .maincontain { background-color: rgba(255, 255, 255, 0.67); }
#tour h1 { margin: 0 36px 31px; border-bottom: 1px solid black; padding: 39px 0 12px; }
#tour h1           span { transition: color 0.2s ease-in-out; }
#tour h1 div:hover span { color: #953310; cursor: pointer; }

#tour .row
{
    padding: 11px 36px;
    text-transform: uppercase;
}
#tour .row:nth-child(2n) { background-color: rgba(255, 255, 255, 0.2); }

#tour .col  { float: left; }
#tour .date { width: 16%; }
#tour   .indate { display: inline-block; text-align: center; }
#tour     .month,
#tour     .year { font-size: 20px; }
#tour     .day  { font-size: 40px; }
#tour   .location { width: 65%; }
#tour     .city  { width: 50%; float: left; }
#tour     .place { width: 50%; float: left; }
#tour     .story
{
    display: none;
    clear: both;
    border-top: 1px solid black;
    padding-top: 9px;
}
#tour .instory
{
    text-transform: none;
    max-width: 600px;
    padding-left: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
}
#tour .tickets
{
    float: right;
    color: #da4a18;
    transition: color 0.2s ease-in-out;
}
#tour .row:hover .tickets
{
    color: #953310;
    cursor: pointer;
}

#venue img { margin: 0 auto; }

#merch a { margin-bottom: 15px; }
#merch img { display: block; }
#merch img { margin: 0 auto; }





/*\
| | Handheld devices - No menu, space for navigation dots, edge-to-edge content
\*/

@media (max-width: 767px)
{
    /* //// temp or perm? */
    h1 { margin: 0 15px 15px; padding: 15px 0 9px; }

    /* menu */
    #menu { display: none; }
    
    /* slides */
    .inslide
    {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    /* tour */
    #tour h1 { margin: 0 15px 15px; padding: 15px 0 9px; }
    #tour .row { padding-left: 15px; padding-right: 15px; }
    #tour   .location { width: 50%; }
    #tour     .city  { width: 100%; float: none; }
    #tour     .place { width: 100%; float: none; }
    #tour     .story { max-width: 420px; width: 158%; }
    
    #venue img { width: 200px; }
    #merch img { width: 200px; }
}

/*\
| | Handheld devices & Portrait tablets - Navigation dots, no navigation arrows
\*/

@media (max-width: 844px)
{
    /* fullPage navigation */
    /* flag for fullPage to not show arrows */
    .fp-controlArrow { text-align: center; }
    .fp-controlArrow { display: none; }
    .fp-slidesNav.bottom
    {
        display: block;
        width: 100%;
        left: auto;
        bottom: 9px;
        text-align: center;
    }
    .fp-slidesNav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0 7px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .fp-slidesNav a { display: inline-block; }
    .fp-slidesNav li
    {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 9px;
    }
    .fp-slidesNav span
    {
        display: block;
        margin: 0;
        position: static;
        border-color: rgba(0, 0, 0, 0.8);
    }
    .fp-slidesNav .active span { background-color: rgba(0, 0, 0, 0.8); }
    
    /* slides */
    .inslide { padding-bottom: 48px; }
}

/*\
| | Portrait tablets - Narrowest content
\*/

@media (min-width: 768px) and (max-width: 844px)
{
    /* slides */
    .inslide { width: 720px; }
}

/*\
| | Medium devices - Narrowest content
\*/

@media (min-width: 845px) and (max-width: 991px)
{
    /* slides */
    .inslide { width: 720px; }
}

/* Handheld devices and medium devices - Smaller story font */
@media (max-width: 991px) { #tour .instory { font-size: 16px; } }

/*\
| | Landscape tablets - Narrow content
\*/

@media (min-width: 992px) and (max-width: 1079px)
{
    /* slides */
    .inslide { width: 840px; }
}

/* Handheld devices and tablets - :active works better than :hover on iOS7 */
@media (max-device-width: 844px) and (orientation: portrait),
    (max-device-width: 1079px) and (orientation: landscape)
{
    #menu li:hover  { background: rgba(255, 255, 255, 0.5); }
    #menu li:active { background: rgba(255, 255, 255, 0.8); }
    #menu li.active:hover  { background: rgba(0, 0, 0, 0.5); }
    #menu li.active:active { background: rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-prev:hover  { border-right-color: rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-prev:active { border-right-color: rgba(255, 255, 255, 0.8); }
    .fp-controlArrow.fp-next:hover  { border-left-color:  rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-next:active { border-left-color:  rgba(255, 255, 255, 0.8); }
    #tour h1 div:hover  span { color: black; }
    #tour h1 div:active span { color: #953310; }
    #tour .row:hover  .tickets { color: #da4a18; }
    #tour .row:active .tickets { color: #953310; }
}

/*\
| | Desktop - Menu and navigation arrows, normal content
\*/

@media (min-width: 1080px) and (max-width: 1259px)
{
    /* slides */
    .inslide { width: 940px; }
}

/* Non-wide content - No story indent */
@media (max-width: 1259px) { #tour .instory { padding-left: 0; } }

/*\
| | Landscape handheld devices - No navigation dots (messes with iOS7 browser)
\*/

@media (max-device-width: 767px) and (orientation: landscape)
{
    .fp-slidesNav.bottom { display: none; } /* fullPage navigation */
    .inslide { padding-bottom: 30px; } /* slides */
}
