@font-face { font-family: theanoDidot;        src: url('../fonts/TheanoDidot-Regular.ttf'); }
@font-face { font-family: monsieurLaDoulaise; src: url('../fonts/MonsieurLaDoulaise-Regular.ttf'); }





/*\
| | All
\*/

body { background-color: black; line-height: 1; font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif; }
table, tbody, tr, td { border-spacing: 0; vertical-align: top; }
table, tbody, tr, td,
p, h2 { margin: 0; border: 0; padding: 0; }
h1, h2 { line-height: 0.75; font-weight: normal; text-transform: uppercase; }
h1 { margin: 0 36px 31px; padding: 39px 0 12px; font-size: 67px; }
h2 { margin: 0 36px 12px; padding: 18px 0 12px; font-size: 50px; }

a { -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }
a,
a:visited,
a:active { color: #da4a18; }

a,
a:active,
a:visited { text-decoration: none; }
a:hover { color: #953310; }





/*\
| | Desktop - Wide content
\*/

/* menu */
#menu
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 70;
    font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
#menu ul { margin: 0; padding: 0; text-align: center; }
#menu li
{
    display: inline-block;
    padding: 9px 18px;
    margin: 14px 10px 10px;
    border-radius: 10px;
    -webkit-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
}
#menu li              { background: rgba(255, 255, 255, 0.5); color: black; }
#menu li:hover        { background: rgba(255, 255, 255, 0.8); }
#menu li.active       { background: rgba(  0,   0,   0, 0.5); color: white; }
#menu li.active:hover { background: rgba(255, 255, 255, 0.5); }

/* fullPage navigation */
/* http://joshbroton.com/absolute-positioning-and-horizontal-vertical-centering/ */
.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next
{
    margin: 0;
    border: 0;
    padding: 600px 0;
    width:  auto;
    height: auto;
    z-index: 71;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.fp-controlArrow .fp-inArrow
{
    border-style: solid;
    -webkit-transition: border-color 0.2s ease-in-out;
            transition: border-color 0.2s ease-in-out;
}
.fp-controlArrow.fp-prev .fp-inArrow
{
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}
.fp-controlArrow.fp-next .fp-inArrow
{
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}
.fp-controlArrow.fp-prev:hover .fp-inArrow { border-right-color: rgba(255, 255, 255, 0.8); }
.fp-controlArrow.fp-next:hover .fp-inArrow { border-left-color:  rgba(255, 255, 255, 0.8); }
.fp-slidesNav.bottom { display: none; }

/* slides */
#fullpage
{
    background: url('../images/fox-stage.jpg') no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover;
    font-family: "Knockout 48 A", "Knockout 48 B", "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 0.125em;
}
.slide { text-align: center; font-size: 40px; color: white; }
.inslide { margin: 71px auto 35px; width: 1140px; }
.maincontain { padding: 3px 0; }
.maincontain main
{
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.maincontain main > * { display: block; overflow: hidden; clear: both; }





/* headliners */
#headliners
{
    position: relative;
    width:  100%;
    height: 100%;
    background: url('../images/fox-sign.jpg') no-repeat center 80%;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition: all 3.5s cubic-bezier(.34,.02,.29,.99);
            transition: all 3.5s cubic-bezier(.34,.02,.29,.99);
}
.slide.active #headliners
{
    background-position: center 0%;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}
#headliners #headlinersoverlay
{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width:  100%;
    height: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 4s ease-in-out;
            transition: all 4s ease-in-out;
}
.slide.active #headliners        #headlinersoverlay { background-color: #000; }
.slide        #headliners.loaded #headlinersoverlay { background-color: rgba(0, 0, 0, 0); }





/* tour */
#tour .maincontain { background-color: rgba(255, 255, 255, 0.67); }
#tour main { text-align: left; font-size: 24px; letter-spacing: 0.05em; color: black; }

#tour h1 { border-bottom: 1px solid black; }
#tour h1 span
{
    -webkit-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
}
#tour h1 div:hover span { color: #953310; cursor: pointer; }

#tour .row { padding: 11px 36px; text-transform: uppercase; }
#tour .row:nth-child(2n) { background-color: rgba(255, 255, 255, 0.2); }

#tour .col  { float: left; }
#tour .date { width: 16%; }
#tour   .indate { display: inline-block; text-align: center; }
#tour     .month,
#tour     .year { font-size: 20px; }
#tour     .day  { font-size: 40px; }
#tour   .location { width: 65%; }
#tour     .city  { width: 50%; float: left; }
#tour     .place { width: 50%; float: left; }
#tour     .story
{
    display: none;
    clear: both;
    border-top: 1px solid black;
    padding-top: 9px;
}
#tour .instory
{
    text-transform: none;
    max-width: 600px;
    padding-left: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
}
#tour .tickets
{
    float: right;
    color: #da4a18;
    -webkit-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
}
#tour .row:hover .tickets
{
    color: #953310;
    cursor: pointer;
}





/* Openers - Layers */
#openers { position: relative; }
#openers .maincontain.overlay,
#openers .maincontain.overlay main { width:  100%; height: 100%; }
/* overlays start out "hidden" */
#openers .maincontain.overlay
{
    opacity: 0;
    width:  0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.4s ease-in-out,
        height 0 linear 0.5s,
        width  0 linear 0.5s;
            transition: opacity 0.4s ease-in-out,
        height 0 linear 0.5s,
        width  0 linear 0.5s;
}
/* activated overlays are shown */
#openers .maincontain.overlay.active
{
    opacity: 1;
    width:  100%;
    height: 100%;
    -webkit-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
}
#openers .maincontain.bg.overlay { box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.75); }
/* http://stackoverflow.com/questions/12146394/background-size-cover-not-scaling-image-in-div/12146446#12146446 */
/* blurring is done after a delay to help slow devices */
#openers .maincontain.bg.overlay main
{
    background: url('../images/spice-girls-fiah.jpg') no-repeat center 0%;
    -webkit-background-size: cover;
            background-size: cover;
    overflow: hidden;
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    -webkit-transition: -webkit-filter 0 ease-in-out 0, filter 0 ease-in-out 0;
            transition: -webkit-filter 0 ease-in-out 0, filter 0 ease-in-out 0;
}
/* blurring is done after a delay to help slow devices */
#openers .maincontain.bg.overlay.active main
{
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: -webkit-filter 0.4s ease-in-out 0.5s, filter 0.4s ease-in-out 0.5s;
            transition: -webkit-filter 0.4s ease-in-out 0.5s, filter 0.4s ease-in-out 0.5s;
}
#openers .maincontain .theEX
{
    position: absolute;
    top:   19px;
    right: 19px;
    width:  40px;
    height: 40px;
    z-index: 600;
    cursor: pointer;
    background-size: cover;
    -webkit-filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff);
            filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff);
    -webkit-transition: -webkit-filter 0.4s ease, filter 0.4s ease;
            transition: -webkit-filter 0.4s ease, filter 0.4s ease;
}
#openers .maincontain .theEX:hover
{
    -webkit-filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff);
            filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff);
}





/* Openers - Polaroids Layer */
#openers h1 { color: rgb(241, 240, 225); }
#openers .polaroidcol
{
    margin-top: 60px;
    width: 33%;
    float: left;
    clear: none;
    overflow: visible;
}
/* http://stackoverflow.com/questions/4982480/how-to-set-the-margin-or-padding-as-percentage-of-height-or-parent-container/10018430#10018430 */
#openers .polaroidcontain
{
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    overflow: visible;
}
#openers .polaroid
{
    display: inline-block;
    width: 200px;
    min-height: 252px;
    padding: 10px 10px 6px;
    background-color: rgb(241, 240, 225);
    text-align: left;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
            transition: transform 0.2s ease-in-out;
}
#openers .polaroidcol:nth-child(2) .polaroid { transform: rotateZ(3deg);   -webkit-transform: rotateZ(3deg);   }
#openers .polaroidcol:nth-child(3) .polaroid { transform: rotateZ(-10deg); -webkit-transform: rotateZ(-10deg); }
#openers .polaroidcol:nth-child(4) .polaroid { transform: rotateZ(-3deg);  -webkit-transform: rotateZ(-3deg);  }
#openers .polaroidcol:nth-child(5) .polaroid { transform: rotateZ(1deg);   -webkit-transform: rotateZ(1deg);  }
#openers .polaroidcol:last-child { width: 100%; clear: both; }
#openers .polaroidcol .polaroid:hover
{
    -webkit-transform: rotateZ(0) scale(1.1);
            transform: rotateZ(0) scale(1.1);
}
#openers .polaroid:hover { color: #da4a18; }
#openers .polaroid img { width: 200px; height: 200px; }

/* Openers - Details Layer */
#openers .opener
{
    display: none;
    text-shadow: 1px 1px 2px rgba(1, 25, 197, 0.8);
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
    letter-spacing: 0.054em;
    color: rgb(255, 251, 244);
    text-align: left;
}
#openers .opener.active { display: block; }
/* debug - to work on opener elements
#openers .opener.spice { display: block; }
#openers .maincontain.overlay { opacity: 1; width:  100%; height: 100%; }
#openers .maincontain.bg.overlay { -webkit-filter: blur(5px); filter: blur(5px); }
*/
#openers .opener header,
#openers .opener .info { margin: 0 auto 18px; width: 768px; }
#openers .opener header,
#openers .opener h1 { color: rgb(255, 235, 205); }
#openers .opener header
{
    border-bottom: 1px solid rgb(255, 250, 244);
    padding: 39px 0 12px;
    font-size: 67px;
    line-height: 0.75;
    vertical-align: bottom;
    font-weight: normal;
    text-transform: uppercase;
}
#openers .opener header h1,
#openers .opener header p  { display: inline-block; }
#openers .opener header h1 { margin: 0 0.15em 0 0; padding: 0; }
#openers .opener header p  { font-size: 32px; }
#openers .opener .info { padding-left: 50px; }
#openers .opener .label { width: 130px; }
#openers p.plain
{
    margin: 0 auto 18px;
    width: 718px;
    padding-left: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
}





/* Vanue */
#venue .maincontain { background-color: rgba(255, 255, 255, 0.67); }
#venue main { text-align: left; font-size: 24px; letter-spacing: 0.05em; color: black; }

#venue p,
#venue .iframe-rwd,
#venue img.door { margin-left: 36px; margin-right: 36px; }
#venue h1 { border-bottom: 1px solid black; }
#venue img.summary { display: inline-block; width: 416px; vertical-align: middle; }
#venue div.summary { display: none; }
#venue .sumblock { text-align: center; }
#venue p.summary
{
    display: inline-block;
    margin: 0 0 0 36px;
    vertical-align: middle;
    font-size: 49px;
    text-align: left;
    text-transform: uppercase;
}
#venue .summary .name { font-size: 62px; color: rgb(0, 20, 126); }
#venue .vcard
{
    margin: 31px 0;
    padding: 15px;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    text-transform: uppercase;
}
#venue .vcard .org { display: none; }
#venue .plaingroup { margin: 0 auto; max-width: 940px; text-align: center; }
#venue .plain
{
    text-align: left;
    display: inline-block; vertical-align: middle;
    margin: 0;
    width: 50%;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#venue img.door
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 36px;
    width: 30%;
}
/* http://stackoverflow.com/questions/12676725/responsive-iframe-google-maps-and-weird-resizing/12678294#12678294 */
#venue .iframe-rwd
{
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 0 0 200px;
    height: 0;
    overflow: hidden;
}
#venue .iframe-rwd iframe
{
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
}

/* Afterparty */
#afterparty .maincontain { background-color: rgba(255, 255, 255, 0.67); }
#afterparty main { text-align: left; font-size: 24px; letter-spacing: 0.05em; color: black; }

#afterparty div.summary,
#afterparty div.summary div { height: 250px; }
#afterparty div.summary { display: block; width: 100%; }
#afterparty div.summary div
{
    margin: 0 36px;
    background: url('../images/hotel.jpg') no-repeat center 89%;
    -webkit-background-size: cover;
            background-size: cover;
}
#afterparty h2,
#afterparty p,
#afterparty .vcard { margin-left: 36px; margin-right: 36px; }
#afterparty h1 { border-bottom: 1px solid black; }
#afterparty h2
{
    color: rgb(0, 20, 126);
    border-bottom: 1px solid rgb(0, 20, 126);
}
#afterparty .words
{
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
}
#afterparty .vcard { margin-top: 36px; margin-bottom: 36px; text-transform: uppercase; }
#afterparty .vcard .org { display: none; }
#afterparty .icons
{
    margin: 36px 0;
    text-align: center;
}
#afterparty a.iconcontain { display: inline-block; }
#afterparty .icon { margin: 0 15px; width: 100px; height: 100px; }
#afterparty .map.icon       { background: center/100px 100px url('../images/mappino.png'); }
#afterparty .map.icon:hover { background-image: url('../images/mappina.png'); }
#afterparty .email.icon       { background: center/100px 100px url('../images/emailo.png'); }
#afterparty .email.icon:hover { background-image: url('../images/emaila.png'); }
#afterparty .website.icon       { background: center/100px 100px url('../images/exto.png'); }
#afterparty .website.icon:hover { background-image: url('../images/exta.png'); }

/* Merch */
#merch h1 { color: rgb(241, 240, 225); }
#merch .polaroidcol
{
    margin-top: 60px;
    width: 33%;
    float: left;
    clear: none;
    overflow: visible;
}
/* http://stackoverflow.com/questions/4982480/how-to-set-the-margin-or-padding-as-percentage-of-height-or-parent-container/10018430#10018430 */
#merch .polaroidcontain
{
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    overflow: visible;
}
#merch .polaroid
{
    display: inline-block;
    padding: 10px 10px 30px;
    background-color: rgb(241, 240, 225);
    text-align: left;
    text-transform: uppercase;
    color: black;
    box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
            transition: transform 0.2s ease-in-out;
}
#merch .polaroidcol:nth-child(2) .polaroid { transform: rotateZ(3deg);   -webkit-transform: rotateZ(3deg);   }
#merch .polaroidcol:nth-child(3) .polaroid { transform: rotateZ(-10deg); -webkit-transform: rotateZ(-10deg); }
#merch .polaroidcol:nth-child(4) .polaroid { transform: rotateZ(-3deg);  -webkit-transform: rotateZ(-3deg);  }
#merch .polaroidcol .polaroid:hover
{
    -webkit-transform: rotateZ(0) scale(1.1);
            transform: rotateZ(0) scale(1.1);
}
#merch .polaroidcol:last-child .polaroid:hover
{
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
}
#merch .polaroid:hover { color: #da4a18; }
#merch .polaroidcol:last-child .polaroid:hover { color: black; }
#merch .polaroid img { width: 200px; }





/* Portrait handheld devices - Smaller opener label column */
@media (max-width: 568px) and (orientation: portrait)
{ #openers .opener .label { width: 76px; } }

/*\
| | Handheld devices - No menu, space for navigation dots, edge-to-edge content
\*/

@media (max-width: 767px)
{
    h1 { margin: 0 15px 15px; padding: 15px 0 9px; }

    /* menu */
    #menu { display: none; }
    
    /* slides */
    .inslide
    {
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    /* tour */
    #tour .row { padding-left: 15px; padding-right: 15px; }
    #tour   .location { width: 50%; }
    #tour     .city  { width: 100%; float: none; }
    #tour     .place { width: 100%; float: none; }
    #tour     .story { max-width: 420px; width: 158%; }
    
    #merch img { width: 200px; }
    
    #openers .maincontain .theEX { top: initial; bottom: 19px; }
    #openers .polaroidcol
    {
        margin-top: 0;
        width:  100%;
        float: none;
    }
    #openers .polaroidcontain
    {
        margin-bottom: 37px;
        position: initial;
        top: initial;
        float: none;
        clear: none;
    }
    #openers .opener header,
    #openers .opener .info,
    #openers .opener p.plain { width: auto; }
    #openers .opener header { margin-left: 15px; margin-right: 15px; padding-top: 18px; }
    #openers .opener header h1,
    #openers .opener header p  { display: block; }
    #openers .opener header h1 { margin: 0 0 12px; }
    #openers .opener .info,
    #openers .opener p.plain { margin: 0 15px 18px; }
    #openers .opener { margin-bottom: 41px; }
    
    /* Venue */
    #venue p,
    #venue p.summary,
    #venue .iframe-rwd,
    #venue img.door { margin-left: 15px; margin-right: 15px; }
    #venue iframe { width: 290px; }
    #venue img.summary { display: none; }
    #venue div.summary { display: block; width: 100%; height: 100px; }
    #venue div.summary div
    {
        margin: 0 15px;
        height: 100px;
        background: url('../images/hecker-pass-1.jpg') no-repeat center center;
        -webkit-background-size: cover;
                background-size: cover;
    }
    #venue p.summary
    {
        display: block;
        margin-top: 15px;
        margin-right: 0;
        font-size: 36px;
        letter-spacing: 0;
    }
    #venue .summary .name { font-size: 45px; }
    #venue .vcard { margin-top: 15px; }
    #venue img.door { display: none; }
    #venue div.door { display: block; width: 100%; height: 100px; }
    #venue div.door div
    {
        margin: 0 15px;
        height: 100px;
        background: url('../images/hecker-pass.JPG') no-repeat 100% 7%;
        -webkit-background-size: cover;
                background-size: cover;
    }
    #venue .plain
    {
        display: block;
        margin: 15px 15px 0 15px;
        width: auto;
    }
    #venue .iframe-rwd { margin-top: 25px; }
    
    /* Afterparty */
    #afterparty h2,
    #afterparty div.summary div,
    #afterparty .words { margin-left: 15px; margin-right: 15px; }
    #afterparty div.summary,
    #afterparty div.summary div { height: 100px; }
    #afterparty h2 { font-size: 45px; }
    
    /* Merch */
    #merch .polaroidcol
    {
        margin-top: 0;
        width:  100%;
        height: auto;
        float: none;
    }
    #merch .polaroidcontain
    {
        margin-bottom: 37px;
        position: initial;
        top: initial;
        float: none;
        clear: none;
    }
}

/*\
| | Handheld devices & Portrait tablets - Navigation dots, no navigation arrows
\*/

@media (max-width: 844px)
{
    /* fullPage navigation */
    /* flag for fullPage to not show arrows */
    .fp-controlArrow { text-align: center; }
    .fp-controlArrow { display: none; }
    .fp-slidesNav.bottom
    {
        display: block;
        width: 100%;
        left: auto;
        bottom: 9px;
        text-align: center;
    }
    .fp-slidesNav ul
    {
        display: inline-block;
        margin: 0;
        padding: 0 7px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .fp-slidesNav a { display: inline-block; }
    .fp-slidesNav li
    {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 9px;
    }
    .fp-slidesNav span
    {
        display: block;
        margin: 0;
        position: static;
        border-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    .fp-slidesNav li:hover      span { border-color: rgba(255, 255, 255, 0.5); }
    .fp-slidesNav .active       span { background-color: rgba(0, 0, 0, 0.8); }
    .fp-slidesNav .active:hover span { background-color: rgba(255, 255, 255, 0.5); }
    
    /* slides */
    .inslide { margin-bottom: 48px; }
}

/*\
| | Portrait tablets - Narrowest content
\*/

@media (min-width: 768px) and (max-width: 844px)
{
    /* slides */
    .inslide { width: 720px; }
}

/*\
| | Medium devices - Narrowest content
\*/

@media (min-width: 845px) and (max-width: 991px)
{
    /* slides */
    .inslide { width: 720px; }
}

@media (min-width: 768px) and (max-width: 991px)
{
    #openers .polaroidcol
    {
        margin-top: 0;
        width: 50%;
        height: auto;
        float: left;
        text-align: center;
    }
    #openers .polaroidcol:last-child { width: 50%; clear: none; }
    #openers .polaroidcontain { margin-bottom: 73px; position: initial; top: initial; }
    #openers .polaroidcol:last-child .polaroidcontain { margin-bottom: 0; }
    #openers .opener header,
    #openers .opener p.plain { margin-left: 36px; margin-right: 36px; width: auto; }
    #openers .opener .info { margin-left: 36px; margin-right: 0; width: auto; }
    #venue img.summary { width: 305px; }
    #venue p.summary { font-size: 33px; }
    #venue .summary .name { font-size: 42px; }
    #merch .polaroidcol
    {
        margin-top: 0;
        width: 50%;
        height: auto;
        float: left;
        text-align: center;
    }
    #merch .polaroidcol:last-child { width: 100%; clear: both; }
    #merch .polaroidcontain { margin-bottom: 37px; position: initial; top: initial; }
    #merch .polaroidcol:last-child .polaroidcontain { margin-bottom: 0; }
}

/* Handheld devices and medium devices - Smaller story font */
@media (max-width: 991px)
{
    #tour .instory { font-size: 16px; }
    #openers .opener .info,
    #openers .opener p.plain { padding-left: 0; }
    #afterparty .words { font-size: 16px; }
}

/*\
| | Landscape tablets - Narrow content
\*/

@media (min-width: 992px) and (max-width: 1079px)
{
    /* slides */
    .inslide { width: 840px; }
    #openers .opener header { margin-left: 36px; margin-right: 36px; width: auto; }
    #openers .opener .info { margin-left: 36px; margin-right: 0; width: auto; }
    #venue img.summary { width: 365px; }
    #venue p.summary { font-size: 40px; }
    #venue .summary .name { font-size: 50px; }
}

@media (max-width: 1079px)
{
    #venue .vcard { margin: 22px 0; padding: 7px 0; font-size: 30px; }
}

/* Handheld devices and tablets - :active works better than :hover on iOS7 */
@media (max-device-width: 844px) and (orientation: portrait),
    (max-device-width: 1079px) and (orientation: landscape)
{
    a,
    a:visited,
    a:hover  { color: #da4a18; }
    a:active { color: #953310; }
    #menu li:hover  { background: rgba(255, 255, 255, 0.5); }
    #menu li:active { background: rgba(255, 255, 255, 0.8); }
    #menu li.active:hover  { background: rgba(0, 0, 0, 0.5); }
    #menu li.active:active { background: rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-prev:hover  .fp-inArrow { border-right-color: rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-prev:active .fp-inArrow { border-right-color: rgba(255, 255, 255, 0.8); }
    .fp-controlArrow.fp-next:hover  .fp-inArrow { border-left-color:  rgba(255, 255, 255, 0.5); }
    .fp-controlArrow.fp-next:active .fp-inArrow { border-left-color:  rgba(255, 255, 255, 0.8); }
    .fp-slidesNav li:hover       span { border-color: rgba(0, 0, 0, 0.8); }
    .fp-slidesNav li:active      span { border-color: rgba(255, 255, 255, 0.5); }
    .fp-slidesNav .active:hover  span { background-color: rgba(0, 0, 0, 0.8); }
    .fp-slidesNav .active:active span { background-color: rgba(255, 255, 255, 0.5); }
    #tour h1 div:hover  span { color: black; }
    #tour h1 div:active span { color: #953310; }
    #tour .row:hover  .tickets { color: #da4a18; }
    #tour .row:active .tickets { color: #953310; }
    #openers .polaroid:hover  { color: black; }
    #openers .polaroid:active { color: #da4a18; }
    #openers .polaroidcol:nth-child(2) .polaroid:hover { transform: rotateZ(3deg);   -webkit-transform: rotateZ(3deg);   }
    #openers .polaroidcol:nth-child(3) .polaroid:hover { transform: rotateZ(-10deg); -webkit-transform: rotateZ(-10deg); }
    #openers .polaroidcol:nth-child(4) .polaroid:hover { transform: rotateZ(-3deg);  -webkit-transform: rotateZ(-3deg);  }
    #openers .polaroidcol:nth-child(5) .polaroid:hover { transform: rotateZ(1deg);   -webkit-transform: rotateZ(1deg);  }
    #openers .maincontain .theEX:hover  { -webkit-filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff); filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 3px #fff); }
    #openers .maincontain:active .theEX { -webkit-filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff); filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff); }
    #openers .maincontain .theEX:active { -webkit-filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff); filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff); }
    #venue .vcard a,
    #venue .vcard a:visited,
    #venue .vcard a:hover,
    #venue .vcard a:active { color: #da4a18; }
    #venue .adr { -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }
    #venue .adr:active { color: #953310; }
    #afterparty .map.icon:hover  { background: center/100px 100px url('../images/mappino.png'); }
    #afterparty .map.icon:active { background-image: url('../images/mappina.png'); }
    #afterparty .email.icon:hover  { background: center/100px 100px url('../images/emailo.png'); }
    #afterparty .email.icon:active { background-image: url('../images/emaila.png'); }
    #afterparty .website.icon:hover  { background: center/100px 100px url('../images/exto.png'); }
    #afterparty .website.icon:active { background-image: url('../images/exta.png'); }
    #merch .polaroid:hover  { color: black; }
    #merch .polaroid:active { color: #da4a18; }
    #merch .polaroidcol:last-child .polaroid:active { color: black; }
    #merch .polaroidcol:nth-child(2) .polaroid:hover { transform: rotateZ(3deg);   -webkit-transform: rotateZ(3deg);   }
    #merch .polaroidcol:nth-child(3) .polaroid:hover { transform: rotateZ(-10deg); -webkit-transform: rotateZ(-10deg); }
    #merch .polaroidcol:nth-child(4) .polaroid:hover { transform: rotateZ(-3deg);  -webkit-transform: rotateZ(-3deg);  }
}

/*\
| | Desktop - Menu and navigation arrows, normal content
\*/

@media (min-width: 1080px) and (max-width: 1259px)
{
    /* slides */
    .inslide { width: 940px; }
}

/* Non-wide content - No story indent */
@media (max-width: 1259px)
{
    #tour .instory { padding-left: 0; }
    #venue .plain { padding-left: 0; }
    #venue .sumblock { text-align: left; }
    #venue img.summary { margin-left: 36px; }
}

/*\
| | Landscape handheld devices - No navigation dots (messes with iOS7 browser)
\*/

@media (max-device-width: 767px) and (orientation: landscape)
{
    .fp-slidesNav.bottom { display: none; } /* fullPage navigation */
    .inslide { margin-bottom: 30px; } /* slides */
}
